<app-dialog-shared
    [width]="'45vw'"
    (close)="close()"
    [dialogHeader]="studySubject.id ? l('EditStudySubject') : l('CreateNewStudySubject')"
    [dialog_name]="Add_Study_Subject_dialog"
>
    <ng-container bodyDialog>
        <form *ngIf="active" #studySubjectForm="ngForm">
            <div class="row">
                <div class="col-md-12 my-3">
                    <label class="form-label" for="StudySubject_Id">{{ l('Code') }} *</label>
                    <input
                        type="number"
                        #StudySubject_Id="ngModel"
                        id="StudySubject_Id"
                        class="form-control"
                        [(ngModel)]="studySubject.id"
                        name="id"
                        required
                    />
                    <validation-messages [formCtrl]="StudySubject_Id"></validation-messages>
                </div>
                <div class="col-md-6 my-3">
                    <label class="form-label" for="StudySubject_NameF">{{ l('NameF') }} *</label>
                    <input
                        type="text"
                        #StudySubject_NameF="ngModel"
                        id="StudySubject_NameF"
                        class="form-control"
                        [(ngModel)]="studySubject.nameF"
                        name="NameF"
                        required
                    />
                    <validation-messages [formCtrl]="StudySubject_NameF"></validation-messages>
                </div>
                <div class="col-md-6 my-3">
                    <label class="form-label" for="StudySubject_NameL">{{ l('NameL') }} *</label>
                    <input
                        type="text"
                        #StudySubject_NameL="ngModel"
                        id="StudySubject_NameL"
                        class="form-control"
                        [(ngModel)]="studySubject.nameL"
                        name="NameL"
                        required
                    />
                    <validation-messages [formCtrl]="StudySubject_NameL"></validation-messages>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="StudySubject_Language">{{ l('Language') }}</label>
                    <select
                        class="form-select"
                        #StudySubject_Language="ngModel"
                        name="Language"
                        id="StudySubject_Language"
                        [(ngModel)]="studySubject.language"
                    >
                        <option value="0">{{ l('AR') }}</option>

                        <option value="1">{{ l('EN') }}</option>
                    </select>
                    <validation-messages [formCtrl]="StudySubject_Language"></validation-messages>
                </div>
                <!-- Class / Study Level -->
                <div class="col-md-6 mb-5">
                    <app-auto-complete-feild
                        [label]="l('StudyLevel')"
                        field="studyLevel.name"
                        [(ngModel)]="studyLevelsValue"
                        name="StudyLevelId"
                        [multiple]="true"
                        [ConfigCustomSearch]="{
                            api: '/api/services/app/StudyLevels/GetAll',
                            keySearch: 'filter',
                            customParams: {
                                Sorting: '',
                                SkipCount: 0,
                                MaxResultCount: 10
                            }
                        }"
                    ></app-auto-complete-feild>
                </div>
            </div>
            <br />
            <label class="form-check form-check-custom form-check-solid">
                <input
                    id="StudySubject_IsActive"
                    #StudySubject_IsActive="ngModel"
                    name="IsActive"
                    [(ngModel)]="studySubject.isActive"
                    type="checkbox"
                    class="form-check-input"
                />
                <span class="form-check-label">
                    {{ l('IsActive') }}
                </span>
            </label>
            <validation-messages [formCtrl]="StudySubject_IsActive"></validation-messages>
        </form>
    </ng-container>
    <ng-container footerDialog>
        <button
            type="submit"
            class="btn btn-primary blue"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
            (click)="save()"
        >
            <i class="fa fa-save"></i>
            <span>{{ l('Save') }}</span>
        </button>
        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
            {{ l('Cancel') }}
        </button>
    </ng-container>
</app-dialog-shared>
