<!-- Start -->
<div class="container-fluid mt-8 px-5">
    <div class="row">
        <div class="col-12">
            <div class="card px-8 py-6">
                <h3>{{ l('Sections') }}</h3>

                @if (examForView?.exam?.examSections) {
                    <!-- Loop sections -->
                    <div
                        class="accordion border rounded my-5"
                        *ngFor="let section of examForView?.exam?.examSections; let i = index"
                    >
                        <div class="accordion-content overflow-hidden" style="transition: max-height 0.3s ease-in-out">
                            <div class="px-5 py-2">
                                <!-- Loop over questions in this section -->
                                <div
                                    class="question-wrapper my-4"
                                    *ngFor="let question of section.examQuestions; let j = index"
                                >
                                    <div class="d-flex justify-content-between align-items-center">
                                        <!-- Show question body or fallback text -->
                                        <h4 class="question-name text-primary fw-normal mb-0">
                                            {{ QuestionTypeEnum[question?.question?.question?.type] | localize }}
                                        </h4>
                                    </div>

                                    <!-- Example: Render question dynamically -->
                                    <app-dynamic-exam-question
                                        [question]="question.question"
                                        [questionType]="question.question.question.type"
                                        style="display: block; margin-top: 1rem"
                                    ></app-dynamic-exam-question>

                                    <div class="line mt-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Sections -->
                }
            </div>
        </div>
    </div>
</div>
