<div class="mb-3" *ngIf="config?.question?.body">
    <div [innerHTML]="config.question.body"></div>
    <ng-container *ngFor="let question of config.linkedQuestions; let i = index">
        <div class="mt-4">
             <app-dynamic-exam-question
                [order]="i + 1"
                [question]="question"
                [questionType]="question.question.type"
                [(ngModel)]="value"
                (ngModelChange)="onQuestionValueChange()"
            ></app-dynamic-exam-question>
        </div>
        <hr class="my-4" />
    </ng-container>
</div>
