<div class="card p-4">
    <label>{{ l('SessionsStatus') }}</label>
    <div class="d-flex">
        <div class="col-lg-8 col-md-8" style="align-content: center">
            <ngx-charts-pie-chart
                *ngIf="!noDataStatus && showChart"
                [results]="chartData"
                [doughnut]="true"
                [legend]="false"
                [labels]="false"
                [scheme]="colorScheme"
                [animations]="false"
                [tooltipDisabled]="false"
                [view]="[300, 300]"
            ></ngx-charts-pie-chart>
            <div *ngIf="noDataStatus && showChart" class="d-flex justify-content-center align-items-center">
                {{ l('NoData') }}
            </div>
        </div>
        <div class="align-content-center col-md-4" *ngIf="!noDataStatus">
            <div class="d-flex align-items-center justify-content-between" *ngFor="let item of chartData">
                <div class="rounded" style="width: 12px; height: 12px" [style.backgroundColor]="item.hexColor"></div>
                <div>{{ item.name }}</div>
                <p class="m-0">
                    {{
                        item.value !== 'NaN' && item.value !== null && item.value !== undefined
                            ? ((item.value / totalCount) * 100).toFixed(2) + '%'
                            : ''
                    }}
                </p>
            </div>
        </div>
    </div>
</div>
