<div class="col-md-12">
    <div class="card-dash p-3">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h6 class="title">{{ 'SessionStatistic' | localize }}</h6>
            <p-calendar
                [(ngModel)]="yearSelected"
                (ngModelChange)="getExamTemplateStats()"
                [placeholder]="l('SelectYear')"
                view="year"
                dateFormat="yy"
                [appendTo]="'body'"
                [showIcon]="true"
            ></p-calendar>
        </div>
        <div class="box">
            <span>{{ 'TotalSession' | localize }}</span>
            <p>{{ totalSession }}</p>
        </div>
    </div>
</div>
