<div class="question-box">
       <h4 class="question-box-header py-4 px-5">
        {{ l('FirstQuestion') }}
       </h4>
   <div class="p-5">

    <div class="row d-flex justify-content-between ">
        <div class="col-md-4">
            <label  class="block text-gray-700 font-medium mb-2">
                {{ l('QuestionText') }}
            </label>
        </div>
        <div class="col-md-3 mb-2 d-flex justify-content-center align-items-center gap-3">
            <p-inputSwitch [(ngModel)]="checked" />
            <label> {{ l('AutomaticallyCorrectTheQuestion') }}</label>
        </div>
        <div class="col-md-12 mt-3">
            <app-editor class="w-100"></app-editor>
        </div>
    </div>


    <div class="row mt-6">
        <div class="col-md-6 mb-5">
            <app-dropdown-field  [labelField]="l('QuestionType')"></app-dropdown-field>
        </div>
        <div class="col-md-3 mb-5 d-flex align-items-end">
            <input
                name="text"
                class="form-control m-input"
                [placeholder]="l('MinimumPoints')"
                type="text"
            />
        </div>
        <div class="col-md-3 mb-5 d-flex align-items-end">
            <input
                name="text"
                class="form-control m-input"
                [placeholder]="l('MaximumPoints')"
                type="text" />
        </div>
    </div>




    <div class="d-flex gap-3 mt-2 mb-6">
        <p class="mb-0 fw-medium">{{ l('Choices') }}</p>
        <span class="d-inline-block text-gray-700"> {{ l('ChooseTheCorrectAnswer') }}</span>
        </div>
    <!-- Question item -->
    <div class="row question d-flex align-items-center mb-6">
        <div class="col-md-1 col-3 d-flex align-items-center gap-5">
            <img class="cursor-pointer" src="assets/common/images/menu.svg" alt="" />
            <input class="form-check-input" id="EditEdition_IsFree" name="SubscriptionPrice" [value]="true" type="radio" />
        </div>

        <div class="col-md-7 col-9 mb-md-0 mb-3">
            <p class="mb-0">الإجابة الأولى</p>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-end ">
            <p-inputNumber
                [(ngModel)]="value3"
                [showButtons]="true"
                buttonLayout="horizontal"
                inputId="horizontal"
                spinnerMode="horizontal"
                [step]="1"
                decrementButtonClass="min"
                incrementButtonClass="max"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
            />
            <button class="btn btn-edit p-3 mx-2">
                <img src="assets/common/images/edit.svg" alt="" />
            </button>
            <button class="btn btn-delete p-3 m-0">
                <img src="assets/common/images/trash.svg" alt="" />
            </button>
        </div>
    </div>
    <!-- Question item -->
    <div class="row question d-flex align-items-center mb-6">
        <div class="col-md-1 col-3 d-flex align-items-center gap-5">
            <img class="cursor-pointer" src="assets/common/images/menu.svg" alt="" />
            <input class="form-check-input" id="EditEdition_IsFree" name="SubscriptionPrice" [value]="true" type="radio" />
        </div>

        <div class="col-md-7 col-9 mb-md-0 mb-3 d-flex justify-content-between">
            <p class="mb-0">الإجابة الأولى</p>
            <span class="status-grean py-2 px-3">{{ l('TheRightAnswer') }}</span>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-end ">
            <p-inputNumber
                [(ngModel)]="value3"
                [showButtons]="true"
                buttonLayout="horizontal"
                inputId="horizontal"
                spinnerMode="horizontal"
                [step]="1"
                decrementButtonClass="min"
                incrementButtonClass="max"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
            />
            <button class="btn btn-edit p-3 mx-2">
                <img src="assets/common/images/edit.svg" alt="" />
            </button>
            <button class="btn btn-delete p-3 m-0">
                <img src="assets/common/images/trash.svg" alt="" />
            </button>
        </div>
    </div>
    <!-- new Question item 3 -->
    <div class="row question d-flex align-items-center mb-6">
        <div class="col-md-1 d-flex align-items-center gap-5 mb-md-0 mb-3">
            <img class="cursor-pointer" src="assets/common/images/menu.svg" alt="" />
            <input class="form-check-input" id="EditEdition_IsFree" name="SubscriptionPrice" [value]="true" type="radio" />
        </div>

        <div class="col-md-10">
            <app-editor class="w-100"></app-editor>
        </div>
        <div class="col-md-1 d-flex flex-column align-items-center justify-content-between gap-4">
            <button class="btn btn-add py-3 px-4 mx-2">
                <img src="assets/common/images/check.svg" alt="" />
            </button>
            <button class="btn btn-delete p-3 m-0">
                <img src="assets/common/images/trash.svg" alt="" />
            </button>
        </div>
    </div>

    <h5 class="d-flex align-items-center justify-content-start gap-2 cursor-pointer">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M6.5 12.75C6.09 12.75 5.75 12.41 5.75 12C5.75 11.59 6.09 11.25 6.5 11.25H18.5C18.91 11.25 19.25 11.59 19.25 12C19.25 12.41 18.91 12.75 18.5 12.75H6.5Z"
                fill="#6D31ED"
            />
            <path
                d="M11.75 18V6C11.75 5.59 12.09 5.25 12.5 5.25C12.91 5.25 13.25 5.59 13.25 6V18C13.25 18.41 12.91 18.75 12.5 18.75C12.09 18.75 11.75 18.41 11.75 18Z"
                fill="#6D31ED"
            />
        </svg>
        <span class="text-primary">{{l('AddNewOption')}}</span>
    </h5>
   </div>
</div>

<button class="btn btn-outline-primary outline-dashed mt-4">{{l('AddNewQuestion')}}</button>
