

<section class="mx-5 my-5">
    <div class="header-page row">
        <div class="col-3">
            <div class="header-right">
                <div>
                    <span class="header-title-label">الاسم</span>
                    <span class="px-1">:</span>
                    <span class="header-title-label-input">أحمد السيد</span>
                </div>
                <div>
                    <span class="header-title-label">المبحث</span>
                    <span class="px-1">:</span>
                    <span class="header-title-label-input">رياضيات</span>
                </div>
                <div>
                    <span class="header-title-label">الصف</span>
                    <span class="px-1">:</span>
                    <span class="header-title-label-input">عاشر</span>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="header-center">
               <div>
                  <h3 class="header-center-label">
                    اختبار 2025
                  </h3>
               </div>
               <div>
                <span class="header-center-bio">
                    النموذج رقم 1
                </span>
             </div>
             <div>
                <h5 class="header-center-title">
                    استبانة الطالب واختبار التحصيل في مادة الرياضيات
                </h5>
             </div>
            </div>
        </div>
        <div class="col-3">
            <div class="header-left">
                <div>
                    <span class="header-title-label">رقم القسم</span>
                    <span class="px-1">:</span>
                    <span class="header-title-label-input">1</span>
                </div>
                <div>
                    <span class="header-title-label">مدة الاختبار</span>
                    <span class="px-1">:</span>
                    <span class="header-title-label-input">ساعتان</span>
                </div>
                <div>
                    <span class="header-title-label">الوقت المتبقي</span>
                    <span class="px-1">:</span>
                    <span class="header-title-label-input">02 : 00 : 00</span>
                </div>
            </div>
        </div>

    </div>
    <div class="content-page ">

    </div>

    <div class="footer-page row">
       <div class="col-12">
        <div class="d-flex flex-row justify-content-between ">

            <div>
                <button class="btn btn-primary-prev" >
                   السابق
                </button>
            </div>
            <div>
                <button class="btn btn-primary-next" >
                   التالي
                </button>
            </div>
        </div>

       </div>
    </div>
</section>
