<!--  -->
<div class="custom-top-bar py-5">
    <div class="container-fluid">
       <div class="row justify-content-between align-items-center ">
        <div class="col-md-2">
            <img src="assets/common/images/logo.svg" class="img-fluid w-50px" alt="">
        </div>
        <div class="col-md-3 d-flex justify-content-between  align-items-center   ">
            <div class="cursor-pointer symbol symbol-35px symbol-md-40px"><img alt="user" src="http://localhost:4200/assets/common/images/default-profile-picture.png"></div>
             <span>Mohamed Ahmed</span>
        </div>
       </div>
    </div>
</div>

<router-outlet></router-outlet>
