<div class="app-dropdown" [ngClass]="{ rtl: !isEnglish }">
    <label *ngIf="labelField" class="block font-medium mb-2">
        {{ labelField }}
    </label>
    <p-dropdown
        *ngIf="!loading"
        [placeholder]="l(placeholder)"
        class="w-full py-2"
        [ngClass]="{ disabled: disabled }"
        [formControl]="fieldControl"
        [options]="options"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [panelStyleClass]="!isEnglish ? 'rtl' : ''"
        [filter]="filter"
        [filterBy]="filterBy"
        [showClear]="!!!required"
        [appendTo]="appendTo"
        [virtualScroll]="virtualScroll"
        [virtualScrollItemSize]="38"
        [lazy]="lazy"
        (onLazyLoad)="onLoad.emit($event)"
    >
        <ng-template let-item pTemplate="item">{{ l(item[optionLabel]) }}</ng-template>
        <ng-template let-item pTemplate="selectedItem">{{ l(item[optionLabel]) }}</ng-template>
    </p-dropdown>
</div>
