<div class="btn-group dropdown" dropdown container="body" >

    <ng-container >
        <div id="action-button" class="btn-option cursor-pointer " dropdownToggle>
            <img src="/assets/common/images/option.svg" alt="">
          </div>
         <ul class="dropdown-menu" container="body" *dropdownMenu>
           @for (ActionInfo of ActionsInfo; track $index) {
            @if (ActionInfo?.hasPermission!=false &&ActionInfo?.hasCondition != false) {
                <li>
                    <a
                        class="dropdown-item style-flex-icons"
                        [routerLink]="ActionInfo?.routerLink"
                        [queryParams]="ActionInfo?.queryParams"
                        (click)="action?.emit(ActionInfo?.label)"
                        [class]="{ disabled: ActionInfo.disabled == true }"
                    >
                        <i [class]="getIconClass(ActionInfo?.label, ActionInfo?.customIcon)"></i>
                        {{ l(ActionInfo?.label) }}
                    </a>
                </li>
            }
           }

        </ul>
    </ng-container>

</div>
