<p><span class="text-primary fs-5 mb-6"> 1) </span>رتب الكلمات بترتيبها الصحيح ابتداء من اليمين إلى اليسار</p>
<div class="card p-5 mb-6">
    <p class="fs-5 mb-7"><span></span>الكلمات المطابقة</p>
    <div class="row">
        <div class="col-md-3 d-flex gap-3  align-items-center mb-4">
            <img class="cursor-pointer" src="assets/common/images/menu.svg" alt="" />
            <input name="text" class="form-control m-input"  type="text"/>
        </div>
        <div class="col-md-3 d-flex gap-3  align-items-center mb-4">
            <img class="cursor-pointer" src="assets/common/images/menu.svg" alt="" />
            <input name="text" class="form-control m-input"  type="text"/>
        </div>
        <div class="col-md-3 d-flex gap-3  align-items-center mb-4">
            <img class="cursor-pointer" src="assets/common/images/menu.svg" alt="" />
            <input name="text" class="form-control m-input"  type="text"/>
        </div>
        <div class="col-md-3 d-flex gap-3  align-items-center mb-4">
            <img class="cursor-pointer" src="assets/common/images/menu.svg" alt="" />
            <input name="text" class="form-control m-input"  type="text"/>
        </div>
        <div class="col-md-3 d-flex gap-3  align-items-center mb-md-0 mb-4">
            <img class="cursor-pointer" src="assets/common/images/menu.svg" alt="" />
            <input name="text" class="form-control m-input"  type="text"/>
        </div>
    </div>
</div>
