<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #subjectUnitForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="subjectUnit.id">{{l("EditSubjectUnit")}}</span>
                        <span *ngIf="!subjectUnit.id">{{l("CreateNewSubjectUnit")}}</span>
                    </h4>                    
                    
                    
                 <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
             
                </div>
                <div class="modal-body">
                 


					<div class="my-3">
                        <label class="form-label" for="StudyLevelValue">{{l("StudyLevel")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="StudyLevelValue" name="studyLevelValue" [(ngModel)]="studyLevelValue" type="text" disabled>     
                            <button class="btn btn-primary blue" (click)="openSelectStudyLevelModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setStudyLevelIdNull()"><i class="fa fa-times"></i></button>                            
                        </div>
                    </div>
                    <input class="form-control" name="subjectUnit.studyLevelId" [(ngModel)]="subjectUnit.studyLevelId" type="text"  hidden>
                        
					<div class="my-3">
                        <label class="form-label" for="StudySubjectValue">{{l("StudySubject")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="StudySubjectValue" name="studySubjectValue" [(ngModel)]="studySubjectValue" type="text" disabled>     
                            <button class="btn btn-primary blue" (click)="openSelectStudySubjectModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setStudySubjectIdNull()"><i class="fa fa-times"></i></button>                            
                        </div>
                    </div>
                    <input class="form-control" name="subjectUnit.studySubjectId" [(ngModel)]="subjectUnit.studySubjectId" type="text"  hidden>
                        


								<div class="my-3">
									<label class="form-label" for="SubjectUnit_NameF">{{l("NameF")}} *</label>
									<input type="text" #SubjectUnit_NameF="ngModel" id="SubjectUnit_NameF" class="form-control" [(ngModel)]="subjectUnit.nameF" name="NameF"     required/>
								    <validation-messages [formCtrl]="SubjectUnit_NameF"></validation-messages>
								</div>
					
								<div class="my-3">
									<label class="form-label" for="SubjectUnit_NameL">{{l("NameL")}} *</label>
									<input type="text" #SubjectUnit_NameL="ngModel" id="SubjectUnit_NameL" class="form-control" [(ngModel)]="subjectUnit.nameL" name="NameL"     required/>
								    <validation-messages [formCtrl]="SubjectUnit_NameL"></validation-messages>
								</div>
					
								<div class="my-3">
									<label class="form-label" for="SubjectUnit_Code">{{l("Code")}}</label>
									<input type="text" #SubjectUnit_Code="ngModel" id="SubjectUnit_Code" class="form-control" [(ngModel)]="subjectUnit.code" name="Code"    />
								    <validation-messages [formCtrl]="SubjectUnit_Code"></validation-messages>
								</div>
					
								<br/>
								<label class="form-check form-check-custom form-check-solid">
                                    <input
                                        id="SubjectUnit_IsActive" 
                                        #SubjectUnit_IsActive="ngModel"
                                        name="IsActive" 
                                        [(ngModel)]="subjectUnit.isActive"
                                        type="checkbox"
                                        class="form-check-input"
                                    />
                                    <span class="form-check-label">
                                        {{l("IsActive")}}
                                    </span>
                                </label>
                                <validation-messages [formCtrl]="SubjectUnit_IsActive"></validation-messages>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!subjectUnitForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<subjectUnitStudyLevelLookupTableModal #subjectUnitStudyLevelLookupTableModal (modalSave)="getNewStudyLevelId()"></subjectUnitStudyLevelLookupTableModal>
		 <subjectUnitStudySubjectLookupTableModal #subjectUnitStudySubjectLookupTableModal (modalSave)="getNewStudySubjectId()"></subjectUnitStudySubjectLookupTableModal>
		 
</div>