<app-dialog-shared
    [width]="'50vw'"
    [dialogHeader]="subjectUnit.id ? l('EditSubjectUnit') : l('CreateNewSubjectUnit')"
    [dialog_name]="Add_Unit"
>
    <ng-container bodyDialog>
        <form #subjectUnitForm="ngForm" novalidate>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <app-auto-complete-feild
                        [label]="l('StudyLevel')"
                        field="studyLevel.name"
                        [(ngModel)]="studyLevel"
                        [multiple]="true"
                        name="StudyLevelId"
                        [ConfigCustomSearch]="{
                            api: '/api/services/app/StudyLevels/GetAll',
                            keySearch: 'filter',
                            customParams: {
                                Sorting: '',
                                SkipCount: 0,
                                MaxResultCount: 10
                            }
                        }"
                    ></app-auto-complete-feild>
                </div>
                <div class="col-md-6 mb-3">
                    <app-auto-complete-feild
                        [disabled]="!studyLevelIds?.length"
                        [label]="l('StudySubject')"
                        field="studySubject.name"
                        [(ngModel)]="studySubject"
                        name="studySubjectId"
                        [ConfigCustomSearch]="{
                            api: '/api/services/app/StudySubjects/GetAll',
                            keySearch: 'filter',
                            customParams: {
                                Sorting: '',
                                SkipCount: 0,
                                MaxResultCount: 10,
                                StudyLeveldsFilter: studyLevelIds
                            }
                        }"
                    ></app-auto-complete-feild>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="SubjectUnit_NameF">{{ l('NameF') }} *</label>
                    <input
                        type="text"
                        #SubjectUnit_NameF="ngModel"
                        id="SubjectUnit_NameF"
                        class="form-control"
                        [(ngModel)]="subjectUnit.nameF"
                        name="NameF"
                        required
                    />
                    <validation-messages [formCtrl]="SubjectUnit_NameF"></validation-messages>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="SubjectUnit_NameL">{{ l('NameL') }} *</label>
                    <input
                        type="text"
                        #SubjectUnit_NameL="ngModel"
                        id="SubjectUnit_NameL"
                        class="form-control"
                        [(ngModel)]="subjectUnit.nameL"
                        name="NameL"
                        required
                    />
                    <validation-messages [formCtrl]="SubjectUnit_NameL"></validation-messages>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="SubjectUnit_Code">{{ l('Code') }}</label>
                    <input
                        type="text"
                        #SubjectUnit_Code="ngModel"
                        id="SubjectUnit_Code"
                        class="form-control"
                        [(ngModel)]="subjectUnit.code"
                        name="Code"
                    />
                    <validation-messages [formCtrl]="SubjectUnit_Code"></validation-messages>
                </div>
            </div>

            <br />
            <label class="form-check form-check-custom form-check-solid">
                <input
                    id="SubjectUnit_IsActive"
                    #SubjectUnit_IsActive="ngModel"
                    name="IsActive"
                    [(ngModel)]="subjectUnit.isActive"
                    type="checkbox"
                    class="form-check-input"
                />
                <span class="form-check-label">
                    {{ l('IsActive') }}
                </span>
            </label>
            <validation-messages [formCtrl]="SubjectUnit_IsActive"></validation-messages>
        </form>
    </ng-container>
    <ng-container footerDialog>
        <button
            type="button"
            class="btn btn-primary blue"
            (click)="save()"
            [disabled]="!subjectUnitForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
        >
            <i class="fa fa-save"></i>
            <span>{{ l('Save') }}</span>
        </button>
        <button [disabled]="saving" type="button" class="btn btn-outline" (click)="close()">
            {{ l('Cancel') }}
        </button>
    </ng-container>
</app-dialog-shared>
