<div>
    <div class="container-fluid px-5 mt-md-0 mt-7">
        <h2 class="fs-3 fw-medium justify-content-center mb-4 page-heading text-dark">{{ l('QuestionBank') }}</h2>
        <div class="d-flex justify-content-between">
            <div class="d-flex gap-5">
                <div class="d-flex gap-2">
                    <p class="gray">{{ l('AllQuestions') }}:</p>
                    <span class="text-dark">150</span>
                </div>
                <div class="d-flex gap-2">
                    <p class="gray">{{ l('EffectiveQuestions') }}:</p>
                    <span class="text-dark">67</span>
                </div>
            </div>

            <div class="d-flex gap-3">
                <div>
                    <button class="btn btn-primary d-flex gap-2" [routerLink]="'/app/main/question-bank/addQuestion'">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.66663 10.625C6.32496 10.625 6.04163 10.3417 6.04163 10C6.04163 9.65833 6.32496 9.375 6.66663 9.375H13.3333C13.675 9.375 13.9583 9.65833 13.9583 10C13.9583 10.3417 13.675 10.625 13.3333 10.625H6.66663Z"
                                fill="white"
                            />
                            <path
                                d="M9.375 13.3334V6.66669C9.375 6.32502 9.65833 6.04169 10 6.04169C10.3417 6.04169 10.625 6.32502 10.625 6.66669V13.3334C10.625 13.675 10.3417 13.9584 10 13.9584C9.65833 13.9584 9.375 13.675 9.375 13.3334Z"
                                fill="white"
                            />
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M7.49996 18.9584C2.97496 18.9584 1.04163 17.025 1.04163 12.5V7.50002C1.04163 2.97502 2.97496 1.04169 7.49996 1.04169H12.5C17.025 1.04169 18.9583 2.97502 18.9583 7.50002V12.5C18.9583 17.025 17.025 18.9584 12.5 18.9584H7.49996ZM2.29163 7.50002V12.5C2.29163 16.3417 3.65829 17.7084 7.49996 17.7084H12.5C16.3416 17.7084 17.7083 16.3417 17.7083 12.5V7.50002C17.7083 3.65835 16.3416 2.29169 12.5 2.29169H7.49996C3.65829 2.29169 2.29163 3.65835 2.29163 7.50002Z"
                                fill="white"
                            />
                        </svg>

                        <span class="d-none d-md-inline-block">
                            {{ l('AddAQuestion') }}
                        </span>
                    </button>
                </div>
                <div>
                    <button class="btn btn-outline d-flex gap-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M7.2838 18.5417C3.19214 18.5417 1.44214 16.7917 1.44214 12.7V12.5917C1.44214 8.89167 2.90047 7.10833 6.16714 6.8C6.50047 6.775 6.81714 7.025 6.85047 7.36667C6.88381 7.70833 6.63381 8.01667 6.28381 8.05C3.66714 8.29167 2.69214 9.525 2.69214 12.6V12.7083C2.69214 16.1 3.89214 17.3 7.2838 17.3H12.7171C16.1088 17.3 17.3088 16.1 17.3088 12.7083V12.6C17.3088 9.50833 16.3171 8.275 13.6505 8.05C13.3088 8.01667 13.0505 7.71667 13.0838 7.375C13.1171 7.03333 13.4088 6.775 13.7588 6.80833C17.0755 7.09167 18.5588 8.88333 18.5588 12.6083V12.7167C18.5588 16.7917 16.8088 18.5417 12.7171 18.5417H7.2838Z"
                                fill="#171A1F"
                            />
                            <path
                                d="M9.375 12.4V1.66669C9.375 1.32502 9.65833 1.04169 10 1.04169C10.3417 1.04169 10.625 1.32502 10.625 1.66669V12.4C10.625 12.75 10.3417 13.025 10 13.025C9.65833 13.025 9.375 12.7417 9.375 12.4Z"
                                fill="#171A1F"
                            />
                            <path
                                d="M9.55812 13.7751L6.76646 10.9834C6.52479 10.7417 6.52479 10.3417 6.76646 10.1001C7.00812 9.85841 7.40812 9.85841 7.64979 10.1001L9.99979 12.4501L12.3498 10.1001C12.5915 9.85841 12.9915 9.85841 13.2331 10.1001C13.4748 10.3417 13.4748 10.7417 13.2331 10.9834L10.4415 13.7751C10.3165 13.9001 10.1581 13.9584 9.99979 13.9584C9.84146 13.9584 9.68312 13.9001 9.55812 13.7751Z"
                                fill="#171A1F"
                            />
                        </svg>

                        <span class="d-none d-md-inline-block" (click)="addFile()">
                            {{ l('EnterFile') }}
                        </span>
                    </button>
                </div>
            </div>

        </div>

        <!-- Filter & Search  -->
        <div class="row justify-content-between switch-serch-bar mt-9">
            <div class="col-md-4">
                <div class="input-group search-group">
                    <input
                        name="filterText"
                        class="form-control m-input"
                        [placeholder]="l('Search')"
                        type="text"
                        [(ngModel)]="filter"
                        (ngModelChange)="getQuestion()"
                    />
                    <button class="btn btn-primary" type="submit">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M18.9584 9.58317C18.9584 4.87484 15.125 1.0415 10.4167 1.0415C5.70837 1.0415 1.87504 4.87484 1.87504 9.58317C1.87504 14.2915 5.70837 18.1248 10.4167 18.1248C15.125 18.1248 18.9584 14.2915 18.9584 9.58317ZM17.7084 9.58317C17.7084 13.5998 14.4417 16.8748 10.4167 16.8748C6.39171 16.8748 3.12504 13.5998 3.12504 9.58317C3.12504 5.5665 6.39171 2.2915 10.4167 2.2915C14.4417 2.2915 17.7084 5.5665 17.7084 9.58317Z"
                                fill="#6D31ED"
                            />
                            <path
                                d="M2.10802 18.7752L3.77468 17.1085C4.01635 16.8669 4.01635 16.4669 3.77468 16.2252C3.53302 15.9835 3.13301 15.9835 2.89135 16.2252L1.22468 17.8919C0.983015 18.1335 0.983015 18.5335 1.22468 18.7752C1.34968 18.9002 1.50802 18.9585 1.66635 18.9585C1.82468 18.9585 1.98302 18.9002 2.10802 18.7752Z"
                                fill="#6D31ED"
                            />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="col-md-3 d-grid justify-content-end gap-5" style="grid-template-columns: 1fr auto">
                <app-dropdown-field [placeholder]="'Status'"></app-dropdown-field>
                <app-filters>
                    <ng-container filterBody>
                        <div class="row">
                            <div class="col-12 mb-5">
                                <app-dropdown-field [labelField]="l('StudySubject')"></app-dropdown-field>
                            </div>
                            <div class="col-12 mb-5">
                                <app-dropdown-field [labelField]="l('StudySubject')"></app-dropdown-field>
                            </div>
                            <div class="col-12 mb-5">
                                <app-dropdown-field [labelField]="l('Class')"></app-dropdown-field>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <button class="btn btn-primary">
                                {{ 'Save' | localize }}
                            </button>
                            <button class="btn btn-outline">
                                {{ 'Reset' | localize }}
                            </button>
                        </div>
                    </ng-container>
                </app-filters>
            </div>
        </div>

        <!-- Start Tabel -->
        <div class="primeng-datatable-container p-0 col-12 mt-6">
            <p-table
                #dataTable
                [value]="primengTableHelper.records"
                (onLazyLoad)="getQuestion($event)"
                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                [paginator]="false"
                [loading]="primengTableHelper.isLoading"
                [lazy]="true"
                [scrollable]="true"
                ScrollWidth="100%"
                [resizableColumns]="primengTableHelper.resizableColumns"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="caseCode">
                            {{ '#' }}
                        </th>
                        <th pSortableColumn="TheQuestion">
                            {{ l('TheQuestion') }}
                            <p-sortIcon field="TheQuestion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="QuestionType">
                            {{ l('QuestionType') }}
                            <p-sortIcon field="QuestionType"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Class">
                            {{ l('Class') }}
                            <p-sortIcon field="Class"></p-sortIcon>
                        </th>
                        <th pSortableColumn="StudySubject">
                            {{ l('StudySubject') }}
                            <p-sortIcon field="StudySubject"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Status">
                            {{ l('Status') }}
                            <p-sortIcon field="Status"></p-sortIcon>
                        </th>
                        <th>
                            {{ l('Actions') }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                    <tr>
                        <td>
                         <!--    <span class="p-column-title">{{ l('Code') }}</span>
                            {{ record.auditCase.caseCode || '-' }} -->
                        </td>
                        <td>
                            <!-- <span class="p-column-title">{{ l('CaseTitle') }}</span>
                            {{ record.auditCase.name || '-' }} -->
                        </td>
                        <td>
                            <span class="p-column-title">{{ l('studyLevelName') }}</span>
                            {{ record | json }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ l('studySubjectName') }}</span>
                            {{  record.studySubjectName || '-' }}
                        </td>

                        <td>
                            <!-- <span class="p-column-title">{{ l('creationDate') }}</span>
                            {{ (record.auditCase.creationTime | luxonFormat: 'dd/MM/yyyy - hh:mm a') || '-' }} -->
                        </td>
                        <td>

                            {{ record.question?.isActive || '--' }}
                        </td>
                        <td>
                            <app-action-button
                                [ActionsInfo]="[
                                    { label: 'View' },
                                    {
                                        label: 'Edit',
                                    },
                                    {
                                        label: 'Delete',
                                    },
                                ]"
                                (action)="doActions($event, record)"
                            ></app-action-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{ l('NoData') }}
            </div>
            <p-paginator
                #paginator
                [hidden]="true"
                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                (onPageChange)="getQuestion($event)"
                [totalRecords]="primengTableHelper.totalRecordsCount"
                [showCurrentPageReport]="true"
                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
            ></p-paginator>
            <app-paginator
                [hidden]="primengTableHelper.totalRecordsCount == 0"
                [paginator]="paginator"
                [primengTableHelper]="primengTableHelper"
            ></app-paginator>
        </div>
        <!-- End Tabel -->
    </div>
</div>

<!-- Modals -->
<app-add-file-modal></app-add-file-modal>
