<app-dialog-shared
    [width]="'35vw'"
    (close)="closeDialog()"
    [dialogHeader]="l('AddClassRoom')"
    [dialog_name]="Add_Class_dialog"
>
    <ng-container bodyDialog>
        <ng-container>
            <div class="row mt-4">
                <div class="col-md-12">
                    <input name="text" class="form-control m-input" [placeholder]="l('ClassName')" type="text" />
                </div>
                <div class="col-md-2 d-flex align-items-center gap-2 mt-8  ">
                    <p-inputSwitch [(ngModel)]="checked" />
                    <label> {{ l('Active') }}</label>

                </div>
            </div>

        </ng-container>
    </ng-container>
    <ng-container footerDialog>



        <button
            type="submit"
            class="btn btn-primary blue"
            [routerLink]="'/app/main/templates/add-template/1'"
        >
       <!--  [buttonBusy]="saving"
        [busyText]="l('Save')" -->
        <span>{{l('Save')}}</span>
        </button>
        <button class="btn btn-outline-primary">{{l('Cancel')}}</button>
    </ng-container>
</app-dialog-shared>
