<div class="d-flex gap-3 mt-2 mb-6">
    <p class="mb-0 fw-medium">{{l('Texts')}}</p>
    <span class="d-inline-block text-gray-600 fw-normal ">{{l('ChooseTheAppropriateWordsForTheMissingText')}}</span>
</div>

<!-- new Question item 3 -->
<div class="row question d-flex align-items-center mb-2">

    <div class="col-md-1 d-flex align-items-center gap-5 mb-md-0 mb-3">
        <img class="cursor-pointer" src="assets/common/images/menu.svg" alt="" />
    </div>
    <div class="col-md-10">
        <app-editor class="w-100"></app-editor>
    </div>
    <div class="col-md-1 d-flex flex-column align-items-center justify-content-between gap-3">
        <button class="btn btn-add py-3 px-4 mx-2">
            <img src="assets/common/images/check.svg" alt="" />
        </button>
        <button class="btn btn-delete p-3 m-0">
            <img src="assets/common/images/trash.svg" alt="" />
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-11">
        <div class="d-flex gap-3">
            <button class="btn btn-outline-primary outline-darg-drop-wodrld mt-4"> بن </button>
            <button class="btn btn-outline-primary outline-darg-drop-wodrld mt-4"> مكة </button>
            <button class="btn btn-outline-primary outline-darg-drop-deleted  mt-4"> الكلمة الثالة
                <img src="assets/common/images/trash-gray.svg" alt="">
            </button>
            <button class="btn btn-outline-primary outline-dashed mt-4"> {{l('AddNewQuestion')}} </button>
        </div>

    </div>
</div>

<h5 class="d-flex align-items-center justify-content-start gap-2 cursor-pointer mt-7">
    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M6.5 12.75C6.09 12.75 5.75 12.41 5.75 12C5.75 11.59 6.09 11.25 6.5 11.25H18.5C18.91 11.25 19.25 11.59 19.25 12C19.25 12.41 18.91 12.75 18.5 12.75H6.5Z"
            fill="#6D31ED"
        />
        <path
            d="M11.75 18V6C11.75 5.59 12.09 5.25 12.5 5.25C12.91 5.25 13.25 5.59 13.25 6V18C13.25 18.41 12.91 18.75 12.5 18.75C12.09 18.75 11.75 18.41 11.75 18Z"
            fill="#6D31ED"
        />
    </svg>
    <span class="text-primary">{{l('AddNewText')}}</span>
</h5>
