<label class="form-label" [class]="required ? 'label-required' : ''" *ngIf="isLabel">{{ label }}</label>
<div class="autoComplete-shared">
    <p-autoComplete
        #autoComplete
        [ngClass]="{ 'p-inputtext-sm': true }"
        [style.min-width]="'90%'"
        [style.display]="'100%'"
        [placeholder]="'Search' | localize"
        [required]="required"
        [suggestions]="Filter$ | async"
        [field]="field"
        [dropdown]="true"
        [formControl]="autoCompleteControl"
        (completeMethod)="completeMethod($event)"
        (onSelect)="onSelect($event)"
        [multiple]="multiple"
        [disabled]="disabled"
        (onKeyUp)="handleKeyUp($event, autoComplete)"
        emptyMessage=""
        (keydown.enter)="$event.preventDefault()"
    ></p-autoComplete>
</div>
