<!-- auto-complete-feild.component.html -->
<label class="form-label" [class]="required ? 'label-required' : ''" *ngIf="isLabel">{{ label }}</label>
<div class="autoComplete-shared">
    <p-autoComplete
        appendTo="body"
        #autoComplete
        [ngClass]="{ 'p-inputtext-sm': true }"
        [style.min-width]="'90%'"
        [style.display]="'100%'"
        [style.padding]="0"
        [placeholder]="placeholder | localize"
        [required]="required"
        [suggestions]="Filter$ | async"
        [field]="field"
        appendTo="body"
        [dropdown]="true"
        [formControl]="autoCompleteControl"
        (completeMethod)="completeMethod($event)"
        (onSelect)="onSelect($event)"
        [multiple]="multiple"
        [disabled]="disabled"
        (onKeyUp)="handleKeyUp($event, autoComplete)"
        emptyMessage=""
        (keydown.enter)="$event.preventDefault()"
        [virtualScroll]="true"
        [virtualScrollItemSize]="34"
    >
        <ng-container *ngIf="multiple">
            <ng-template let-item pTemplate="item">
                <div class="item-wrapper" (click)="$event.stopPropagation(); toggleItemSelection(item)">
                    <p-checkbox
                        [binary]="true"
                        [(ngModel)]="item.checked"
                        (onChange)="toggleItemSelection(item)"
                        [ngStyle]="{ 'margin-right': '8px' }"
                    ></p-checkbox>
                    <span class="item-label">
                        {{ getNestedPropertyValue(item, field) }}
                    </span>
                </div>
            </ng-template>
        </ng-container>

        <!-- Use item template as a content inside the component -->
    </p-autoComplete>
</div>
