<!-- drag-drop-table.component.html -->
<div class="drag-drop-table-container" *ngIf="tableView as tv">
    <div class="mb-3" *ngIf="config?.question?.body" [innerHTML]="config.question.body"></div>

    <!-- Draggable items container -->
    <div
        class="draggable-items-container"
        cdkDropList
        #sourceList="cdkDropList"
        [cdkDropListData]="draggableItems"
        (cdkDropListDropped)="handleDrop($event)"
    >
        <div
            *ngFor="let item of draggableItems"
            class="draggable-item"
            cdkDrag
            [cdkDragData]="item"
        >
            {{ item.title }}
        </div>
    </div>

    <!-- Table -->
    <table class="table table-bordered" [class.disabled]="isDisabled">
        <thead>
            <tr>
                <th *ngFor="let header of tableView.headers" class="text-center">{{ header }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of internalValue; let rowIndex = index">
                <td
                    *ngFor="let cell of row; let colIndex = index"
                    [ngClass]="{
                        'pinned-cell': cell.pinned,
                        'droppable-cell': !cell.pinned,
                        'has-value': cell.value !== null
                    }"
                    cdkDropList
                    #dropList="cdkDropList"
                    [cdkDropListData]="{ rowIndex: rowIndex, colIndex: colIndex }"
                    (cdkDropListDropped)="handleDrop($event)"
                >
                    <div class="cell-content">
                        <span>{{ cell.value }}</span>
                        <!-- <span class="order-indicator" *ngIf="cell.order">{{ cell.order }}</span> -->
                        <i
                            *ngIf="cell.value && !cell.pinned"
                            class="pi pi-times remove-icon"
                            (click)="removeItem(rowIndex, colIndex, $event)"
                        ></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noData>
    <p class="text-muted">No table data available</p>
</ng-template>
