<p class="mb-6">
    <span class="text-primary">1)</span>
    اختر تعريف قاعدة فيثاغورث
</p>
<div class="mb-4">
    <input class="form-check-input" id="EditEdition_IsFree" name="SubscriptionPrice" [value]="true" type="radio" />
    <label class="mx-3">الإجابة الأولى</label>
</div>
<div class="mb-4">
    <input class="form-check-input" id="EditEdition_IsFree" name="SubscriptionPrice" [value]="true" type="radio" />
    <label class="mx-3">الإجابة الأولى</label>
</div>
<div class="mb-4">
    <input class="form-check-input" id="EditEdition_IsFree" name="SubscriptionPrice" [value]="true" type="radio" />
    <label class="mx-3">الإجابة الأولى</label>
</div>
<div class="line mt-5"></div>
