<div class="container" style="padding-top: 15vh">
    <div class="card">
        <section class="m-7" *ngIf="examData">
            <!-- HEADER -->
            <div class="header-page row">
                <div class="col-md-3 col-6">
                    <div class="header-right">
                        <div>
                            <span class="header-title-label">{{ l('Name') }}</span>
                            <span class="px-1">:</span>
                            <span class="header-title-label-input">
                                {{ examData.studentName || '-' }}
                            </span>
                        </div>
                        <div>
                            <span class="header-title-label">{{ l('SubjectName') }}</span>
                            <span class="px-1">:</span>
                            <span class="header-title-label-input">
                                {{ examData.subjectName }}
                            </span>
                        </div>
                        <div>
                            <span class="header-title-label">{{ l('Class') }}</span>
                            <span class="px-1">:</span>
                            <span class="header-title-label-input">
                                {{ examData.levelName }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 order-md-2 order-3 mt-md-0 mt-8">
                    <div class="header-center">
                        <div>
                            <h3 class="header-center-label">{{ examData.subjectName }}</h3>
                        </div>
                        <div>
                            <span class="header-center-bio">
                                {{ examData.formName }}
                            </span>
                        </div>
                        <div *ngIf="!showInstructions">
                            <h5 class="header-center-title" [innerHTML]="examData.sectionInstructions"></h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6 order-md-3 order-2">
                    <div class="header-left">
                        <div>
                            <span class="header-title-label">{{ l('SectionNumber') }}</span>
                            <span class="px-1">:</span>
                            <span class="header-title-label-input">
                                {{ currentQuestion?.sectionNo }}
                            </span>
                        </div>
                        <div>
                            <span class="header-title-label">{{ l('RemainingTime') }}</span>
                            <span class="px-1">:</span>
                            <span class="header-title-label-input" style="direction: ltr">
                                {{ remainingTime }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CONTENT -->
            <div class="content-page">
                <ng-container *ngIf="examData">
                    <!-- If instructions are showing -->
                    <div *ngIf="showInstructions" class="instructions">
                        <div [innerHTML]="examData.examInstructions" class="py-15 px-8"></div>
                        <div class="btn-footer text-end">
                            <button class="btn btn-primary mt-6 mb-4" (click)="startExam()">
                                {{ l('StartExam') }}
                            </button>
                        </div>
                    </div>

                    <!-- If we are not showing instructions, show the question -->
                    <ng-container *ngIf="!showInstructions">
                        <ng-container *ngIf="!loading">

                            <app-dynamic-exam-question
                                *ngIf="currentQuestion"
                                [question]="currentQuestion.question.question"
                                [(ngModel)]="currentQuestion.question.question"
                                [questionType]="currentQuestion.question?.question.question.type"
                                style="display: block; margin-top: 1rem"
                            ></app-dynamic-exam-question>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>

            <!-- FOOTER: Nav Buttons -->
            <div *ngIf="!showInstructions && currentQuestion">
                <br />
                <br />
                <br />
                <br />
            </div>
            <div *ngIf="!showInstructions && currentQuestion" class="footer-page row">
                <div class="col-12">
                    <div class="d-flex flex-row justify-content-between">
                        <div>
                            <!-- PREV button -->
                            <button class="btn btn-primary-prev" *ngIf="!isFirstQuestion" (click)="prev()">
                                {{ l('Previous') }}
                            </button>
                        </div>
                        <div>
                            <!-- sidebar toggle -->
                            <button class="btn btn-primary-showlist" (click)="sidebarVisible = !sidebarVisible">
                                <i class="pi pi-align-justify"></i>
                            </button>
                        </div>
                        <div>
                            <!-- if last question, show EndExam -->
                            <button class="btn btn-primary-next" (click)="nextCon()" *ngIf="isLastQuestion">
                                {{ l('EndExam') }}
                            </button>
                            <!-- else show Next -->
                            <button class="btn btn-primary-next" (click)="next()" *ngIf="!isLastQuestion">
                                {{ l('Next') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<app-warning-modal [title]="'ConfirmEndExamDescription'"></app-warning-modal>

<!-- SIDEBAR for question list -->
<p-sidebar [(visible)]="sidebarVisible" styleClass="w-40rem" position="right">
    <ng-template pTemplate="header">
        <span class="font-semibold text-dark fs-3">قائمة الاسئلة</span>
    </ng-template>
    <div
        *ngFor="let q of questionlist; let i = index"
        class="d-flex align-items-center gap-2 mx-5 my-10 px-4 w-full"
        style="cursor: pointer"
        [class.hasNoAnswer]="false"
        (click)="GetSelectedQuestion(i)"
    >
        <div class="num-box-q">{{ i + 1 }}</div>
        <span class="fw-bold white-space-nowrap editor" [class.text-dark]="true">
            <div [innerHTML]="q.question.question.question.body | safeText: 40"></div>
        </span>
    </div>
</p-sidebar>

<ng-template #loader>loading....</ng-template>
