@switch (questionType) {
    @case (QuestionTypeEnum.SA) {
        <app-article-questions [config]="question"></app-article-questions>
    }
    @case (QuestionTypeEnum.TrueAndFalse) {
        <app-multiple-choice-one-option [config]="question"></app-multiple-choice-one-option>
    }
    @case (QuestionTypeEnum.SinglChoice) {
        <app-multiple-choice-one-option [config]="question"></app-multiple-choice-one-option>
    }
    @case (QuestionTypeEnum.MutliChoice) {
        <app-multiple-choice-more-than-option [config]="question"></app-multiple-choice-more-than-option>
    }
    @case (QuestionTypeEnum.Match) {
        <app-connecting-words [config]="question"></app-connecting-words>
    }
    @case (QuestionTypeEnum.LinkedQuestions) {
         <div #RelatedQuestion></div>

    }
    @case (QuestionTypeEnum.Rearrange) {
        <app-words-order [config]="question"></app-words-order>
    }
    @case (QuestionTypeEnum.Drawing) {
        <app-cartesian-level [config]="question"></app-cartesian-level>
    }
    @case (QuestionTypeEnum.DargingTable) {
        <app-drag-drop-table [config]="question"></app-drag-drop-table>
    }
}
