<div>
    <div class="pb-5 pt-lg-0 pt-5">
        <h3 class="fw-bolder text-dark fs-h4 fs-h1-lg">
            {{ 'RegistrationScreen' | localize }}
        </h3>
    </div>
    <div>
        <p class="fs-h3 fw-bolder">
            {{ l('YouWantToRegirsterInYear') + ' ' + year + ' ' + l('AndCycle') + ' ' + cycle }}
        </p>
        <p>
            {{ l('IdentityVerificationRequired') }}
        </p>
        <div>
            <input
                class="form-control mb-3"
                type="text"
                [(ngModel)]="identityNumber"
                [placeholder]="l('IdentityNumber')"
            />
            <div class="pb-lg-0 pb-5">
                <button
                    (click)="check()"
                    [disabled]="!identityNumber"
                    class="btn btn-primary w-100 fw-bolder fs-h6 px-8 py-4 my-3 me-3"
                >
                    {{ 'Submit' | localize }}
                </button>
            </div>
        </div>
    </div>
</div>
