.accordion {
    border: 1px solid #DEE1E6 !important;
    border-radius: 8px;

    .accordion-header {
      border-bottom: 1px solid #DEE1E6;

    }

    .accordion-content {
      max-height: 0;
      transition: max-height 0.3s ease-in-out;
    }

    .time-info {
      font-size: 0.85rem;
    }

    .details {
      color: var(--text-secondary-color);
    }

    .accordion-title {
      margin-left: auto;
    }

    .text-muted {
        .sec-name  , small{
            color: #352F36;
        }
    }
    .time{
        color: #352F36;
        background: #6D31ED0F;
        font-size: 12px;
    border-radius: 25px;
    }
    .chevron-icons{
        width: 40px;
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.5px solid #DEE1E6 !important;
        background: #FBFBFB;
        border-radius: 0.475rem !important;

    }

    .question-name {
        span{
            color: #BDC1CA;
        }
    }
  }
