<a href="/" [class]="customHrefClass" class="mt-10 d-inline-block" (window:resize)="onResize()">
    <img
        alt="Logo"
        *ngIf="!appSession.tenant || !appSession.tenant.HasLogo()"
        src="assets/common/images/logo.svg"
        class=" app-sidebar-logo-default"
    />
    <img
        alt="Logo"
        *ngIf="!appSession.tenant || !appSession.tenant.HasLogoMinimal()"
        src="assets/common/images/logo.svg"
        class="h-20px app-sidebar-logo-minimize"
    />
    <img
        alt="Logo"
        *ngIf="appSession.tenant && appSession.tenant.HasLogo()"
        src="assets/common/images/logo.svg"

        class="h-25px app-sidebar-logo-default"
    />
    <img
        alt="Logo"
        *ngIf="appSession.tenant && appSession.tenant.HasLogoMinimal()"
        src="assets/common/images/logo.svg"
        class="h-20px app-sidebar-logo-minimize"
    />
</a>
