<div class="d-flex flex-column flex-root">
    <div
        class="d-flex flex-column flex-column-fluid bgi-size-cover position-center bgi-no-repeat bgi-attachment-fixed"
        style="background-image: url(../assets/common/images/bg-login.png)"
    >
        <div
            class="d-flex align-items-start justify-content-center flex-column flex-column-fluid p-10"
            [class.pb-lg-20]="!isSelectEditionPage()"
            [class.pb-0]="isSelectEditionPage()"
        >
            <!--begin::Logo-->
            <a
                (click)="goToHome()"
                href=""
                class="d-flex justify-content-center"
                [class.mb-12]="!isSelectEditionPage()"
            ></a>
            <!--end::Logo-->
            <!--begin::Wrapper-->
            <div *ngIf="isSelectEditionPage()" class="container-xxl mx-auto">
                <!-- <div *ngIf="showTenantChange()" class="tenant-change-box mb-5 tenant-change-box">
                    <tenant-change></tenant-change>
                </div> -->
                <div class="text-center">
                    <img src="assets/common/images/logo.svg" alt="" />
                    <h1>وزارة التعليم العالي</h1>
                    <p>يرجى إدخال اسم المستخدم وكلمة المرور</p>
                </div>
                <router-outlet></router-outlet>
            </div>
            <div
                *ngIf="!isSelectEditionPage()"
                class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 pt-lg-15 pb-lg-5"
            >
                <!--  <div *ngIf="showTenantChange()" class="tenant-change-box mb-5 tenant-change-box">
                    <tenant-change></tenant-change>
                </div> -->

                <router-outlet></router-outlet>
                <div class="text-center mt-8">
                    <language-switch class="d-inline-block"></language-switch>
                </div>
            </div>

            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
        <!--begin::Footer-->

        <!--end::Footer-->
    </div>
    <!--end::Authentication - Sign-in-->
</div>
