<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static', container: 'body' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #supportGroupForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="supportGroup.id">{{ l('EditSupportGroup') }}</span>
                        <span *ngIf="!supportGroup.id">{{ l('CreateNewSupportGroup') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="SupportGroup_NameL">{{ l('NameL') }}</label>
                            <input
                                type="text"
                                #SupportGroup_NameL="ngModel"
                                id="SupportGroup_NameL"
                                class="form-control"
                                [(ngModel)]="supportGroup.nameL"
                                name="NameL"
                            />
                            <validation-messages [formCtrl]="SupportGroup_NameL"></validation-messages>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="SupportGroup_NameF">{{ l('NameF') }}</label>
                            <input
                                type="text"
                                #SupportGroup_NameF="ngModel"
                                id="SupportGroup_NameF"
                                class="form-control"
                                [(ngModel)]="supportGroup.nameF"
                                name="NameF"
                            />
                            <validation-messages [formCtrl]="SupportGroup_NameF"></validation-messages>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="SupportGroup_GroupType">{{ l('GroupType') }}</label>
                            <select
                                class="form-select"
                                #SupportGroup_GroupType="ngModel"
                                name="GroupType"
                                id="SupportGroup_GroupType"
                                [(ngModel)]="supportGroup.groupType"
                            >
                                <option *ngFor="let item of supportGroupTypeEnum" [value]="item.code">
                                    {{ l(item.name) }}
                                </option>
                            </select>
                            <validation-messages [formCtrl]="SupportGroup_GroupType"></validation-messages>
                        </div>
                    </div>

                    <br />

                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="SupportGroup_IsActive"
                            #SupportGroup_IsActive="ngModel"
                            name="IsActive"
                            [(ngModel)]="supportGroup.isActive"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('IsActive') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="SupportGroup_IsActive"></validation-messages>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!supportGroupForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
