@switch (questionType) {
    @case (QuestionTypeEnum.SA) {
        <app-article-questions></app-article-questions>
    }
    @case (QuestionTypeEnum.TrueAndFalse) {
        <app-true-fase></app-true-fase>
    }
    @case (QuestionTypeEnum.SinglChoice) {
        <app-multiple-choice-one-option></app-multiple-choice-one-option>
    }
    @case (QuestionTypeEnum.MutliChoice) {
        <app-multiple-choice-more-than-option></app-multiple-choice-more-than-option>
    }
    @case (QuestionTypeEnum.Match) {
        <app-connecting-words></app-connecting-words>
    }
    @case (QuestionTypeEnum.LinkedQuestions) {
        <app-related-questions></app-related-questions>
    }
    @case (QuestionTypeEnum.Rearrange) {
        <app-words-order></app-words-order>
    }
    <!-- @case () {
        <app-cartesian-level></app-cartesian-level>
    } -->
}
