<div>
    <div class="container-fluid px-5 mt-md-0 mt-7">
        <div class="d-flex align-items-center">
            <span class="cursor-pointer" [routerLink]="'/app/main/question-bank'">
                <svg
                    width="14"
                    height="14"
                    viewBox="0 0 14 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="postion"
                >
                    <path
                        d="M9.3337 8.12643L5.53036 11.9298C5.3612 12.0989 5.0812 12.0989 4.91203 11.9298C4.74286 11.7606 4.74286 11.4806 4.91203 11.3114L8.71536 7.5081C8.99536 7.2281 8.99536 6.7731 8.71536 6.4931L4.91203 2.68977C4.74286 2.5206 4.74286 2.2406 4.91203 2.07143C5.0812 1.90226 5.3612 1.90226 5.53036 2.07143L9.3337 5.87476C9.64286 6.18393 9.80036 6.59227 9.80036 7.0006C9.80036 7.40893 9.64286 7.81727 9.3337 8.12643Z"
                        fill="#999999"
                    />
                </svg>
                {{ l('QuestionBank') }}
            </span>
            <span class="mx-2">/</span>

            <h2 class="fw-bolder mb-0">{{ 'AddAQuestion' }}</h2>
        </div>
    </div>

    <!-- Start Qusestion  -->
    <div class="container-fluid mt-8 px-5">
        <div class="row">
            <!-- first card -->
            <div class="col-12">
                <div class="card px-8 py-6">
                    <h3>{{ l('QuestionsYouAdded') }}</h3>

                    <div class="row mt-6">
                        <div class="col-12">




                              <!-- Start Tabel -->
        <div class="primeng-datatable-container p-0 col-12 mt-6">
            <p-table
                #dataTable
                [value]="primengTableHelper.records"
                (onLazyLoad)="getQuestion($event)"
                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                [paginator]="false"
                [loading]="primengTableHelper.isLoading"
                [lazy]="true"
                [scrollable]="true"
                ScrollWidth="100%"
                [resizableColumns]="primengTableHelper.resizableColumns"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="caseCode">
                            {{ '#' }}
                        </th>
                        <th pSortableColumn="TheQuestion">
                            {{ l('TheQuestion') }}
                            <p-sortIcon field="TheQuestion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="QuestionType">
                            {{ l('QuestionType') }}
                            <p-sortIcon field="QuestionType"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Class">
                            {{ l('Class') }}
                            <p-sortIcon field="Class"></p-sortIcon>
                        </th>
                        <th pSortableColumn="StudySubject">
                            {{ l('StudySubject') }}
                            <p-sortIcon field="StudySubject"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Status">
                            {{ l('Status') }}
                            <p-sortIcon field="Status"></p-sortIcon>
                        </th>
                        <th>
                            {{ l('Actions') }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                    <tr>
                        <td>
                            <span class="p-column-title">{{ l('Code') }}</span>
                            {{ record.auditCase.caseCode || '-' }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ l('CaseTitle') }}</span>
                            {{ record.auditCase.name || '-' }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ l('CaseOwner') }}</span>
                            {{ record.organizationUnitDisplayName || '-' }}
                        </td>
                        <td>
                            <span class="p-column-title">{{ l('RepeatCase') }}</span>
                            {{ l('') || '-' }}
                        </td>

                        <td>
                            <span class="p-column-title">{{ l('creationDate') }}</span>
                            {{ (record.auditCase.creationTime | luxonFormat: 'dd/MM/yyyy - hh:mm a') || '-' }}
                        </td>


                    </tr>
                </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{ l('NoData') }}
            </div>


        </div>
        <!-- End Tabel -->



                        </div>
                    </div>
                </div>
            </div>

            <!-- first card -->
            <div class="col-12 mt-6">

                <div class="card px-8 py-6">
                    <h3>{{ l('QuestionIDs') }}</h3>

                    <div class="row mt-6">
                        <div class="col-md-6 mb-5">
                            <app-dropdown-field
                                [(ngModel)]="_createOrEditQuestionDto.studySubjectId"
                                [options]="studySubjects"
                                optionLabel="name"
                                optionValue="id"
                                [labelField]="l('StudySubject')"
                            ></app-dropdown-field>
                        </div>
                        <div class="col-md-6 mb-5">
                            <app-dropdown-field
                                [(ngModel)]="_createOrEditQuestionDto.studyLevelId"
                                [options]="studyLevels"
                                optionLabel="name"
                                optionValue="id"
                                [labelField]="l('Class')"
                            ></app-dropdown-field>
                        </div>
                        <div class="col-md-6 mb-5">
                            <app-dropdown-field
                                [(ngModel)]="_createOrEditQuestionDto.subjectUnitId"
                                [options]="subjectUnits"
                                optionLabel="name"
                                optionValue="id"
                                [labelField]="l('StudyUnit')"
                            ></app-dropdown-field>
                        </div>
                        <div class="col-md-6 mb-5">
                            <label class="mb-2">{{ l('PageNumber') }}</label>
                            <input
                                name="text"
                                [(ngModel)]="_createOrEditQuestionDto.pageNumber"
                                class="form-control m-input"
                                type="text"
                            />
                        </div>
                        <div class="col-md-6 mb-2">
                            <app-dropdown-field
                                [(ngModel)]="_createOrEditQuestionDto.complexityId"
                                [options]="complexities"
                                optionLabel="name"
                                optionValue="id"
                                [labelField]="l('DifficultyLevel')"
                            ></app-dropdown-field>
                        </div>
                        <div class="col-md-6 mb-2">
                            <app-dropdown-field
                                [(ngModel)]="_createOrEditQuestionDto.questionCategoryId"
                                [options]="categories"
                                optionLabel="name"
                                optionValue="id"
                                [labelField]="l('Categories')"
                            ></app-dropdown-field>
                        </div>
                    </div>
                </div>
            </div>

            <!-- second card -->
            <div class="col-12 mt-6">
                <div class="card px-8 py-6">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{ l('QuestionText') }}</h3>
                        <!-- [(ngModel)]="checked" -->

                        <div class="d-flex align-items-center gap-5">
                            <p-inputSwitch
                                [(ngModel)]="checkedExplanatoryNote"
                                (onChange)="getCheckedExplanatoryNote($event)"
                            ></p-inputSwitch>
                            <span class="mt-2">يمتلك شرح توضيحي</span>
                        </div>
                    </div>
                    <div class="row mt-6">
                        <div class="col-12 mb-2">
                            <app-editor [(ngModel)]="_createOrEditQuestionDto.body"></app-editor>
                        </div>
                    </div>
                </div>
            </div>

            <!-- third card -->
            @if (checkedExplanatoryNote) {
                <div class="col-12 mt-6">
                    <div class="card px-8 py-6">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="fs-3 fw-medium">{{ l('ExplanatoryNote') }}</h3>
                        </div>
                        <div class="row mt-6">
                            <div class="col-12 mb-2">
                                <app-editor [(ngModel)]="_createOrEditQuestionDto.questionHelper"></app-editor>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!-- forth card -->
            <div class="col-12 mt-6">
                <div class="card px-8 py-6">
                    <h3>{{ l('QuestionDetails') }}</h3>

                    <div class="row mt-6">
                        <div class="col-md-6 mb-5">
                            <app-dropdown-field
                                [enm]="QuestionTypeEnum"
                                [(ngModel)]="_createOrEditQuestionDto.type"
                                [labelField]="l('QuestionType')"
                            ></app-dropdown-field>
                        </div>
                        <div class="col-md-3 mb-5 d-flex align-items-end">
                            <label class="mb-2">{{ l('MinimumPoints') }}</label>
                            <input
                                name="text"
                                [(ngModel)]="_createOrEditQuestionDto.maxPoints"
                                class="form-control m-input"
                                type="text"
                            />
                        </div>
                        <div class="col-md-3 mb-5 d-flex align-items-end">
                            <label class="mb-2">{{ l('MaximumPoints') }}</label>
                            <input
                                name="text"
                                [(ngModel)]="_createOrEditQuestionDto.minPoints"
                                class="form-control m-input"
                                type="text"
                            />
                        </div>
                    </div>

                    <!-- dynamic question -->
                    <app-dynamic-question
                        [questionType]="_createOrEditQuestionDto.type"
                        [(ngModel)]="_createOrEditQuestionDto.payload"
                    ></app-dynamic-question>
                </div>
            </div>

            <!-- Fifth card -->
            <div class="col-12 mt-6">
                <div class="card px-8 py-6">
                    <div class="row mt-2">
                        <div
                            class="col-md-3 mb-2 d-flex justify-content-center align-items-center gap-4"
                            *ngIf="
                                _createOrEditQuestionDto.type == QuestionTypeEnum.SinglChoice ||
                                _createOrEditQuestionDto.type == QuestionTypeEnum.DargingForm ||
                                _createOrEditQuestionDto.type == QuestionTypeEnum.MutliChoice ||
                                _createOrEditQuestionDto.type == QuestionTypeEnum.Rearrange ||
                                _createOrEditQuestionDto.type == QuestionTypeEnum.Match ||
                                _createOrEditQuestionDto.type == QuestionTypeEnum.TrueAndFalse
                            "
                        >
                            <p-inputSwitch [(ngModel)]="_createOrEditQuestionDto.autoCorrection"></p-inputSwitch>

                            <label class="pt-3">{{ l('AutomaticallyCorrectTheQuestion') }}</label>
                        </div>
                        <!-- <div class="col-md-3 mb-2 d-flex justify-content-center align-items-center gap-4">
                            <p-inputSwitch
                            [(ngModel)]="_createOrEditQuestionDto">
                          </p-inputSwitch>
                            <label class="pt-3">{{ l('MixingAnswers') }}</label>
                        </div> -->
                        <div class="col-12 py-7">
                            <div class="line"></div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button class="btn btn-outline-primary">
                                {{ 'AddAnotherQuestion' | localize }}
                            </button>
                            <div>
                                <button class="btn btn-primary" (click)="Save()">
                                    {{ 'Save' | localize }}
                                </button>
                                <button class="btn btn-outline">
                                    {{ 'Reset' | localize }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
