<div>
    <div class="container-fluid px-5">
        <div class="d-flex align-items-center">
            <span class="cursor-pointer" [routerLink]="'/app/main/question-bank'">
                <svg
                    width="14"
                    height="14"
                    viewBox="0 0 14 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="postion"
                >
                    <path
                        d="M9.3337 8.12643L5.53036 11.9298C5.3612 12.0989 5.0812 12.0989 4.91203 11.9298C4.74286 11.7606 4.74286 11.4806 4.91203 11.3114L8.71536 7.5081C8.99536 7.2281 8.99536 6.7731 8.71536 6.4931L4.91203 2.68977C4.74286 2.5206 4.74286 2.2406 4.91203 2.07143C5.0812 1.90226 5.3612 1.90226 5.53036 2.07143L9.3337 5.87476C9.64286 6.18393 9.80036 6.59227 9.80036 7.0006C9.80036 7.40893 9.64286 7.81727 9.3337 8.12643Z"
                        fill="#999999"
                    />
                </svg>
                {{ l('QuestionBank') }}
            </span>
            <span class="mx-2">/</span>

            <h2 class="fw-bolder mb-0">{{ 'AddAQuestion' }}</h2>
        </div>
    </div>

    <!-- Start Qusestion  -->
    <div class="container-fluid mt-8 px-5">
        <div class="row">

            <!-- first card -->
            <div class="col-12">
                <div class="card px-8 py-6">
                    <h3>{{ l('QuestionIDs') }}</h3>

                    <div class="row mt-6">
                        <div class="col-md-6 mb-5">
                            <app-dropdown-field [labelField]="l('StudyMaterial')"></app-dropdown-field>
                        </div>
                        <div class="col-md-6 mb-5">
                            <app-dropdown-field [labelField]="l('Class')"></app-dropdown-field>
                        </div>
                        <div class="col-md-6 mb-5">
                            <app-dropdown-field [labelField]="l('StudyUnit')"></app-dropdown-field>
                        </div>
                        <div class="col-md-6 mb-5">
                            <app-dropdown-field [labelField]="l('ExcludedPageUumbers')"></app-dropdown-field>
                        </div>
                        <div class="col-12 mb-2">
                            <app-dropdown-field [labelField]="l('DifficultyLevel')"></app-dropdown-field>
                        </div>
                    </div>
                </div>
            </div>

            <!-- second card -->
            <div class="col-12 mt-6">
                <div class="card px-8 py-6">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{ l('QuestionText') }}</h3>
                        <p-inputSwitch (onChange)="getChecked($event)" [(ngModel)]="checked" />
                    </div>
                    @if (checked) {
                        <div class="row mt-6">
                            <div class="col-12 mb-2">
                                <app-editor></app-editor>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- third card -->
            <div class="col-12 mt-6">
                <div class="card px-8 py-6">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="fs-3 fw-medium">{{ l('ExplanatoryNote') }}</h3>
                    </div>
                    <div class="row mt-6">
                        <div class="col-12 mb-2">
                            <app-editor></app-editor>
                        </div>
                    </div>
                </div>
            </div>

            <!-- forth card -->
            <div class="col-12 mt-6">
                <div class="card px-8 py-6">
                    <h3>{{ l('QuestionDetails') }}</h3>

                    <div class="row mt-6">
                        <div class="col-md-6 mb-5">
                            <app-dropdown-field (onSelectionChange)="getQuestionType($event)" [options]="questionsType" [labelField]="l('QuestionType')"></app-dropdown-field>
                        </div>
                        <div class="col-md-3 mb-5 d-flex align-items-end">
                            <input
                                name="text"
                                class="form-control m-input"
                                [placeholder]="l('MinimumPoints')"
                                type="text"
                            />
                        </div>
                        <div class="col-md-3 mb-5 d-flex align-items-end">
                            <input
                                name="text"
                                class="form-control m-input"
                                [placeholder]="l('MaximumPoints')"
                                type="text" />
                        </div>
                    </div>

                    <!-- dynamic question -->
                    <app-dynamic-question [questionType]="type"></app-dynamic-question>
                </div>
            </div>

               <!-- Fifth card -->
            <div class="col-12 mt-6">
                <div class="card px-8 py-6">
                    <div class="row mt-2">
                        <div class="col-md-3 mb-2 d-flex justify-content-center align-items-center gap-3">
                            <p-inputSwitch [(ngModel)]="checked" />
                            <label> {{ l('AutomaticallyCorrectTheQuestion') }}</label>
                        </div>
                        <div class="col-md-3 mb-2 d-flex justify-content-center align-items-center gap-3">
                            <p-inputSwitch [(ngModel)]="checked" />
                            <label> {{ l('MixingAnswers') }}</label>
                        </div>
                        <div class="col-12 py-7">
                           <div class="line"></div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button class="btn btn-outline-primary">
                                {{ 'AddAnotherQuestion' | localize }}
                            </button>
                           <div>
                            <button class="btn btn-primary">
                                {{ 'Save' | localize }}
                            </button>
                            <button class="btn btn-outline">
                                {{ 'Reset' | localize }}
                            </button>
                           </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
